spring:
  application:
    name: Voting-Service
  datasource:
    url: jdbc:mysql://localhost:3306/telcobright
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL8Dialect
  logging:
    level:
      org.springframework.mail: DEBUG

server:
  port: 8090