spring:
  application:
    name: APIGATEWAY
  main:
    web-application-type: reactive
  cloud:
    gateway:
      metrics:
        enabled: true
      httpclient:
        connect-timeout: 5000
        response-timeout: 5s
      discovery:
        locator:
          enabled: false
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin, RETAIN_UNIQUE
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:1234}


server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: INFO
    veer.apigateway: DEBUG
