spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/microservices}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

  data:
    redis:
      host: localhost
      port: 6379
      password: 1234

